.menu-cta-s {
  display: flex;
  /* width: 100%; */
  /* justify-content: space-between; */
  position: relative;
  align-items: center;
  padding: 5px;
  padding-left: 10px;
}
/* .menu-cta-s input {
  width: 301px;
  height: 48px;
  background: rgba(0, 0, 0, 0.77);
  border-radius: 8px;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  font-style: normal;
  padding: 5px;
  color: #ffffffa6;
} */
.search-menu-wrapper {
  position: absolute;
  right: 110px;

  /* background: red; */
}
.search-menu-wrapper input {
  /* outline: none;
  border: none; */
  width: 301px;
  height: 48px;
  background: rgba(0, 0, 0, 0.77);
  border-radius: 8px;
  font-weight: 700;
  font-size: 13px;
  line-height: 21px;
  font-style: normal;
  padding: 5px;
  color: #ffffffa6;
  padding-left: 10px;
}
.search-menu-wrapper img {
  width: 25px;
  position: absolute;
  z-index: 99999;
  right: 20px;
  top: 14px;
}

.categories-section-container {
  width: 100%;
  margin-top: 8px;
}

.categories-container {
  display: flex;
  align-items: center;
  gap: 27px;
  padding: 5px 0 5px 8px;
}
.secondary-title {
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  font-style: normal;
  padding-left: 12px;
  color: rgba(0, 0, 0, 0.55);
}

.menu-section-container {
  height: 68%;
  /* overflow: scroll; */

  /* border: 2px solid yellow; */
}

.menu-container {
  display: flex;
  flex-wrap: wrap;
  max-height: 84%;
  overflow-y: scroll;
  gap: 27px;
  align-items: center;
  padding: 5px 0 5px 8px;
}
.menuPage-container .adddish-wrapper {
  position: absolute;
  top: 70px;
  left: 100px;
  z-index: 1;
}
